<% if (Object.keys(addSelStruct).length) { %>
    <ul>
        <% for (const [key, value] of Object.entries(addSelStruct)) {%>
        <li>
            <% if(Object.keys(value.childs).length) {%>
                <span class="collapsible arrow"><%= value.name %></span>
                <div class="content">
                    <%- include('addSelection.ejs', {addSelStruct: value.childs}) %>
                </div>
            <% }else{ %>
                <span class=""><%= value.name %></span>
                <div class="content">
                    <%- include('addSelection.ejs', {addSelStruct: value.childs}) %>
                </div>
            <% } %>
        </li>
        <% } %>
    </ul>
<% } else { %>
<% } %>


