<% if (Object.keys(addSelStruct).length) { %>
    <ul>
        <% for (const [key, value] of Object.entries(addSelStruct)) {%>
            <li id=<%= "osm-rel-"+ key %>>
                <%= value.name %>
                <%- include('addSelection.ejs', {addSelStruct: value.childs}) %>
            </li>
        <% } %>
    </ul>
<% } %>


