:root{
    /* color palette: https://colorhunt.co/palette/12372a436850adbc9ffbfada */
    --background-color: #FBFADA;
    --foreground-color: #436850;
    --header-height: 10vh;
    --footer-height: 8vh;
}


html, body{
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--background-color);
    
    line-height: normal;

    min-width: 325px;
}


header span{
    font-family: "Tac One", sans-serif;
    font-size: calc(var(--bs-body-font-size)*2);
}

header a{
    font-family: "Tac One", sans-serif;
    font-size: calc(var(--bs-body-font-size)*1.1) !important;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background-color: var(--foreground-color);

    padding: 0 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 82vh;
}


aside{
    width: 350px;
    /* max-height: calc(100vh - var(--header-height) - var(--footer-height)); */
    height: 0;
    min-height: 100%;

    border-right: 1px solid var(--foreground-color);

    overflow-y: auto;
    /* overflow-x: hidden; */
}

#elementsDisplay{
    display: flex;
    justify-content: center;

    position: relative;
}

#listSelector{
    padding-top: 10px;
    padding-bottom: 10px;
}

#myMap{
    max-height: 80vh;
    width: 85%;
    border: 2px solid black;
    border-radius: 6px;
    margin: 10px 0;
}

#footerContainer{
    height: var(--footer-height);
    background-color: var(--foreground-color);
    
}

#countrySearchForm{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}


#countrySearchForm input{
    font-size: 0.8rem;
    text-overflow: ellipsis;
}

#listSelector a{
    /* text-decoration: none; */
    color: rgb(9, 84, 189);
}

#busyIcon{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


    z-index: 1000;
    font-size: 6em;
    visibility: hidden;
    color: var(--foreground-color);

    height: 1.2em;
    width: 1.2em;

}

#listSelector-busyIcon{
    font-size: 2em;
    /* visibility: hidden; */
    display: none;
    margin-bottom: 10px;
    color: var(--foreground-color);
}

#listSelector-busyIcon-container{
    display: flex;
    justify-content: center;
}

.alert{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: inline-block;
    visibility: hidden;
}

#footerContainer div span{
    color: black;
}


tr{
    font-size: 14px;
}


/* media at the end to have priority */
@media (max-width: 768px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: fit-content(250px) 1fr;

        height: 90vh;
    }

    aside{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--foreground-color);
        padding-bottom: 10px;

        /* revert height to default because we started with 0 */
        height: auto;
    }

    header {
        flex-direction: column;
        height: 10vh;
    }

    #myMap {
        width: 100%;
        height: 100%;
        border: none;
        margin: 0;
    }
}

aside > button::before{
    width: 1.25em;
    display: inline-block;
    margin-right: 5px;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.5s ease;
    transform-origin: 25% 50%;
}

aside > button[aria-expanded="true"]::before {
    transform: rotate(90deg);
}


aside > button {
    font-family: "Oswald", sans-serif !important;
}


#addSelection ul{
    list-style-type: none;
}

#addSelection button::before{
    width: 1.25em;
    display: inline-block;
    margin-right: 5px;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.5s ease;
    transform-origin: 25% 50%;
}

#addSelection button[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.collapsible{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.collapsible.show {
    max-height: 100%; /* Adjust this value according to your content height */
  }